In [1]:
# Importing the modules required.
import pandas as pd
import numpy as np
import json
import requests
import matplotlib.pyplot as plt
from key import api_key, gkey
import gmaps

url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"

states_pd = pd.read_csv("Resources/states.csv")
series_ids = states_pd["Series Id"].tolist()

start_year = "1996"
end_year = "2006"
header = {"Content-Type": "application/json"}

payload = json.dumps({"seriesid":series_ids,
                     "startyear":start_year,
                     "endyear":end_year,
                      "registrationkey":api_key                      
                      })

state_response1 = requests.post(url,headers=header,data=payload).json()['Results']['series']

In [2]:
states1_df = pd.DataFrame(columns=['year','period','periodName','value','footnotes','Stateid'])

for i in range(0, len(state_response1)):
     seriesDF= pd.DataFrame(state_response1[i]['data'])
     seriesDF["Stateid"] = state_response1[i]["seriesID"]
     states1_df = states1_df.append(seriesDF, ignore_index = True)

states1_df

      year period periodName value footnotes               Stateid
0     2006    M12   December   3.9      [{}]  LASST010000000000003
1     2006    M11   November   4.0      [{}]  LASST010000000000003
2     2006    M10    October   4.0      [{}]  LASST010000000000003
3     2006    M09  September   4.1      [{}]  LASST010000000000003
4     2006    M08     August   4.1      [{}]  LASST010000000000003
...    ...    ...        ...   ...       ...                   ...
6595  1996    M05        May   7.4      [{}]  LASST540000000000003
6596  1996    M04      April   7.6      [{}]  LASST540000000000003
6597  1996    M03      March   7.7      [{}]  LASST540000000000003
6598  1996    M02   February   7.9      [{}]  LASST540000000000003
6599  1996    M01    January   8.0      [{}]  LASST540000000000003

[6600 rows x 6 columns]

In [3]:
start_year = "2007"
end_year = "2016"
header = {"Content-Type": "application/json"}
payload = json.dumps({"seriesid":series_ids,
                     "startyear":start_year,
                     "endyear":end_year,
                      "registrationkey":api_key                      
                      })

state_response2 = requests.post(url,headers=header,data=payload).json()['Results']['series']

states2_df = pd.DataFrame(columns=['year','period','periodName','value','footnotes','Stateid'])

for i in range(0, len(state_response2)):
     seriesDF= pd.DataFrame(state_response2[i]['data'])
     seriesDF["Stateid"] = state_response2[i]["seriesID"]
     states2_df = states2_df.append(seriesDF, ignore_index = True)

states2_df

      year period periodName value footnotes               Stateid
0     2016    M12   December   5.7      [{}]  LASST010000000000003
1     2016    M11   November   5.8      [{}]  LASST010000000000003
2     2016    M10    October   5.9      [{}]  LASST010000000000003
3     2016    M09  September   5.9      [{}]  LASST010000000000003
4     2016    M08     August   5.8      [{}]  LASST010000000000003
...    ...    ...        ...   ...       ...                   ...
5995  2007    M05        May   4.4      [{}]  LASST540000000000003
5996  2007    M04      April   4.4      [{}]  LASST540000000000003
5997  2007    M03      March   4.5      [{}]  LASST540000000000003
5998  2007    M02   February   4.5      [{}]  LASST540000000000003
5999  2007    M01    January   4.6      [{}]  LASST540000000000003

[6000 rows x 6 columns]

In [4]:
dataframes = [states2_df,states1_df]
states_df = pd.concat(dataframes)
states_df

      year period periodName value footnotes               Stateid
0     2016    M12   December   5.7      [{}]  LASST010000000000003
1     2016    M11   November   5.8      [{}]  LASST010000000000003
2     2016    M10    October   5.9      [{}]  LASST010000000000003
3     2016    M09  September   5.9      [{}]  LASST010000000000003
4     2016    M08     August   5.8      [{}]  LASST010000000000003
...    ...    ...        ...   ...       ...                   ...
6595  1996    M05        May   7.4      [{}]  LASST540000000000003
6596  1996    M04      April   7.6      [{}]  LASST540000000000003
6597  1996    M03      March   7.7      [{}]  LASST540000000000003
6598  1996    M02   February   7.9      [{}]  LASST540000000000003
6599  1996    M01    January   8.0      [{}]  LASST540000000000003

[12600 rows x 6 columns]

In [5]:
states_df = states_df.loc[(states_df['period'] == 'M12')|(states_df['period'] == 'M01')].reset_index(drop=True)
states_df=states_df.drop('footnotes', axis=1)
states_df

      year period periodName value               Stateid
0     2016    M12   December   5.7  LASST010000000000003
1     2016    M01    January   6.0  LASST010000000000003
2     2015    M12   December   6.0  LASST010000000000003
3     2015    M01    January   6.0  LASST010000000000003
4     2014    M12   December   6.1  LASST010000000000003
...    ...    ...        ...   ...                   ...
2095  1998    M01    January   6.7  LASST540000000000003
2096  1997    M12   December   6.7  LASST540000000000003
2097  1997    M01    January   7.3  LASST540000000000003
2098  1996    M12   December   7.4  LASST540000000000003
2099  1996    M01    January   8.0  LASST540000000000003

[2100 rows x 5 columns]

In [6]:
states_df['value'] = states_df['value'].astype(float)
state_yearlychange_df = pd.DataFrame(columns=['Series Id','year','yearlyChange'])

for i in states_df.index:       
    if i%2==0:
        yearly_change = states_df['value'][i] - states_df['value'][i+1]
        stateid = states_df['Stateid'][i]
        year = states_df['year'][i]
        state_yearlychange_df = state_yearlychange_df.append({'Series Id':stateid,
                                                             'year': year,
                                                             'yearlyChange':yearly_change
                                                             },ignore_index=True)

        
state_yearlychange_df

                 Series Id  year  yearlyChange
0     LASST010000000000003  2016          -0.3
1     LASST010000000000003  2015           0.0
2     LASST010000000000003  2014          -1.1
3     LASST010000000000003  2013          -0.2
4     LASST010000000000003  2012          -0.5
...                    ...   ...           ...
1045  LASST540000000000003  2000          -0.4
1046  LASST540000000000003  1999          -0.5
1047  LASST540000000000003  1998          -0.3
1048  LASST540000000000003  1997          -0.6
1049  LASST540000000000003  1996          -0.6

[1050 rows x 3 columns]

In [7]:
state_year_df = pd.merge(states_pd,state_yearlychange_df, on='Series Id')
state_year_df

,Unnamed: 0,STATES,Abbreviation,Series Id,lat,lng,year,yearlyChange
0,0,Alabama,AL,LASST010000000000003,32.318231,-86.902298,2016,-0.3
1,0,Alabama,AL,LASST010000000000003,32.318231,-86.902298,2015,0.0
2,0,Alabama,AL,LASST010000000000003,32.318231,-86.902298,2014,-1.1
3,0,Alabama,AL,LASST010000000000003,32.318231,-86.902298,2013,-0.2
4,0,Alabama,AL,LASST010000000000003,32.318231,-86.902298,2012,-0.5
...,...,...,...,...,...,...,...,...
1045,49,WestVirginia,WV,LASST540000000000003,38.597626,-80.454903,2000,-0.4
1046,49,WestVirginia,WV,LASST540000000000003,38.597626,-80.454903,1999,-0.5
1047,49,WestVirginia,WV,LASST540000000000003,38.597626,-80.454903,1998,-0.3
1048,49,WestVirginia,WV,LASST540000000000003,38.597626,-80.454903,1997,-0.6
1049,49,WestVirginia,WV,LASST540000000000003,38.597626,-80.454903,1996,-0.6

In [8]:
state_year_group_df = state_year_df.groupby(['STATES','Series Id','year']).sum()
state_year_group_df

                                        Unnamed: 0        lat        lng  \
STATES       Series Id            year
Alabama      LASST010000000000003 1996           0  32.318231 -86.902298
                                  1997           0  32.318231 -86.902298
                                  1998           0  32.318231 -86.902298
                                  1999           0  32.318231 -86.902298
                                  2000           0  32.318231 -86.902298
...                                            ...        ...        ...
WestVirginia LASST540000000000003 2012          49  38.597626 -80.454903
                                  2013          49  38.597626 -80.454903
                                  2014          49  38.597626 -80.454903
                                  2015          49  38.597626 -80.454903
                                  2016          49  38.597626 -80.454903

                                        yearlyChange
STATES       Series Id            year
Alabama      LASST010000000000003 1996          -0.2
                                  1997          -0.9
                                  1998           0.2
                                  1999           0.3
                                  2000          -0.1
...                                              ...
WestVirginia LASST540000000000003 2012           0.0
                                  2013          -0.5
                                  2014          -0.4
                                  2015          -0.2
                                  2016          -0.9

[1050 rows x 4 columns]

In [9]:
state_year_group_df.to_csv("Resources/state_1996-2016.csv")

In [23]:
state_2008_df = state_year_df.loc[(state_year_df['year'] == '2008')].reset_index(drop=True)
state_2008_df

,Unnamed: 0,STATES,Abbreviation,Series Id,lat,lng,year,yearlyChange
0,0,Alabama,AL,LASST010000000000003,32.318231,-86.902298,2008,3.7
1,1,Alaska,AK,LASST020000000000003,64.200841,-149.493673,2008,0.5
2,2,Arizona,AZ,LASST040000000000003,34.048928,-111.093731,2008,3.5
3,3,Arkansas,AR,LASST050000000000003,35.201050,-91.831833,2008,1.8
4,4,California,CA,LASST060000000000003,36.778261,-119.417932,2008,3.2
5,5,Colorado,CO,LASST080000000000003,39.550051,-105.782067,2008,1.8
6,6,Connecticut,CT,LASST090000000000003,41.603221,-73.087749,2008,1.7
7,7,Delaware,DE,LASST100000000000003,38.910832,-75.527670,2008,3.0
8,8,DistrictofColumbia,DC,LASST110000000000003,38.907192,-77.036871,2008,2.0
9,9,Florida,FL,LASST120000000000003,27.664827,-81.515754,2008,3.5
10,10,Georgia,GA,LASST130000000000003,32.165622,-82.900075,2008,3.1
11,11,Hawaii,HI,LASST150000000000003,19.896766,-155.582782,2008,2.8
12,12,Idaho,ID,LASST160000000000003,44.068202,-114.742041,2008,3.9
13,13,Illinois,IL,LASST170000000000003,40.633125,-89.398528,2008,2.4
14,14,Indiana,IN,LASST180000000000003,40.267194,-86.134902,2008,3.5
15,15,Iowa,IA,LASST190000000000003,41.878003,-93.097702,2008,1.6
16,16,Kansas,KS,LASST200000000000003,39.011902,-98.484246,2008,1.2
17,17,Kentucky,KY,LASST210000000000003,37.839333,-84.270018,2008,3.0
18,18,Louisiana,LA,LASST220000000000003,30.984298,-91.962333,2008,1.7
19,19,Maine,ME,LASST230000000000003,45.253783,-69.445469,2008,2.2
20,20,Maryland,MD,LASST240000000000003,39.045755,-76.641271,2008,2.4
21,21,Massachusetts,MA,LASST250000000000003,42.407211,-71.382437,2008,2.2
22,22,Michigan,MI,LASST260000000000003,44.314844,-85.602364,2008,2.7
23,23,Minnesota,MN,LASST270000000000003,46.729553,-94.685900,2008,2.0
24,24,Mississippi,MS,LASST280000000000003,32.354668,-89.398528,2008,1.8
25,25,Missouri,MO,LASST290000000000003,37.964253,-91.831833,2008,2.4
26,26,Montana,MT,LASST300000000000003,46.879682,-110.362566,2008,2.0
27,27,Nebraska,NE,LASST310000000000003,41.492537,-99.901813,2008,0.9
28,28,Nevada,NV,LASST320000000000003,38.802610,-116.419389,2008,3.8
29,29,NewHampshire,NH,LASST330000000000003,43.193852,-71.572395,2008,1.3
30,30,NewJersey,NJ,LASST340000000000003,40.058324,-74.405661,2008,2.3
31,31,NewMexico,NM,LASST350000000000003,34.519940,-105.870090,2008,1.9
32,32,NewYork,NY,LASST360000000000003,40.712775,-74.005973,2008,1.9
33,33,NorthCarolina,NC,LASST370000000000003,35.759573,-79.019300,2008,4.2
34,34,NorthDakota,ND,LASST380000000000003,47.551493,-101.002012,2008,0.7
35,35,Ohio,OH,LASST390000000000003,40.417287,-82.907123,2008,2.6
36,36,Oklahoma,OK,LASST400000000000003,35.467560,-97.516428,2008,1.2
37,37,Oregon,OR,LASST410000000000003,43.804133,-120.554201,2008,4.3
38,38,Pennsylvania,PA,LASST420000000000003,41.203322,-77.194525,2008,1.9
39,39,PuertoRico,PR,LASST720000000000003,18.220833,-66.590149,2008,2.6
40,40,RhodeIsland,RI,LASST440000000000003,41.580095,-71.477429,2008,3.5
41,41,SouthCarolina,SC,LASST450000000000003,33.836081,-81.163725,2008,3.6
42,42,SouthDakota,SD,LASST460000000000003,43.969515,-99.901813,2008,1.4
43,43,Tennessee,TN,LASST470000000000003,35.517491,-86.580447,2008,3.1
44,44,Texas,TX,LASST480000000000003,31.968599,-99.901813,2008,1.5
45,45,Utah,UT,LASST490000000000003,39.320980,-111.093731,2008,2.5
46,46,Vermont,VT,LASST500000000000003,44.558803,-72.577841,2008,1.4
47,47,Virginia,VA,LASST510000000000003,37.431573,-78.656894,2008,1.7
48,48,Washington,WA,LASST530000000000003,47.751074,-120.740139,2008,2.0
49,49,WestVirginia,WV,LASST540000000000003,38.597626,-80.454903,2008,0.8

In [11]:
# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/geocode/json"

# target_url = ('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}').format("DistrictofColumbia", gkey)

# # print(lattitude,longitude)
# print(target_url)

state = state_2008_df["STATES"].tolist()
lat=[]
lng=[]
for i in state:
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}').format(i, gkey)
    response = requests.get(target_url).json()
    lattitude = response["results"][0]["geometry"]["location"]["lat"]
    longitude = response["results"][0]["geometry"]["location"]["lng"]
    lat.append(lattitude)
    lng.append(longitude)

    
unemployement_2008_df = pd.DataFrame({'State':state,
                                  'lat':lat,
                                   'lng':lng,
                                 'Unemployment_rate':state_2008_df['yearlyChange'] 
                                 })
unemployement_2008_df.head()

        State        lat         lng  Unemployment_rate
0     Alabama  32.318231  -86.902298                3.7
1      Alaska  64.200841 -149.493673                0.5
2     Arizona  34.048928 -111.093731                3.5
3    Arkansas  35.201050  -91.831833                1.8
4  California  36.778261 -119.417932                3.2

In [22]:
locations = unemployement_2008_df[["lat", "lng"]].astype(float)
unemployment_rate = unemployement_2008_df["Unemployment_rate"].astype(float)

gmaps.configure(api_key="AIzaSyBODrQZh4WJ7334DbSa3H4fyVliE-xgi14")
heatmap_2008 = gmaps.figure()

# Create a unemployment Heatmap layer
heat_map = gmaps.heatmap_layer(locations, weights=unemployment_rate,
                               max_intensity=unemployement_2008_df["Unemployment_rate"].max().astype(float),
                              point_radius = 20)
heatmap_2008.add_layer(heat_map)

heatmap_2008

Figure(layout=FigureLayout(height='420px'))

In [19]:
states2_df = states2_df.loc[(states2_df['period'] == 'M12')|(states2_df['period'] == 'M01')].reset_index(drop=True)
# states2_df=states2_df.drop('footnotes', axis=1)
states2_df['value'] = states2_df['value'].astype(float)
state_2007_2016_df = pd.DataFrame(columns=['Series Id','year','yearlyChange'])

for i in states2_df.index:       
    if i%2==0:
        yearly_change = states2_df['value'][i] - states2_df['value'][i+1]
        stateid = states2_df['Stateid'][i]
        year = states2_df['year'][i]
        state_2007_2016_df = state_2007_2016_df.append({'Series Id':stateid,
                                                             'year': year,
                                                             'yearlyChange':yearly_change
                                                             },ignore_index=True)

        
unemployement_2007_2016_df = pd.merge(states_pd,state_2007_2016_df, on='Series Id')
unemployement_2007_2016_df

,Unnamed: 0,STATES,Abbreviation,Series Id,lat,lng,year,yearlyChange
0,0,Alabama,AL,LASST010000000000003,32.318231,-86.902298,2016,-0.3
1,0,Alabama,AL,LASST010000000000003,32.318231,-86.902298,2015,0.0
2,0,Alabama,AL,LASST010000000000003,32.318231,-86.902298,2014,-1.1
3,0,Alabama,AL,LASST010000000000003,32.318231,-86.902298,2013,-0.2
4,0,Alabama,AL,LASST010000000000003,32.318231,-86.902298,2012,-0.5
...,...,...,...,...,...,...,...,...
495,49,WestVirginia,WV,LASST540000000000003,38.597626,-80.454903,2011,-1.2
496,49,WestVirginia,WV,LASST540000000000003,38.597626,-80.454903,2010,0.2
497,49,WestVirginia,WV,LASST540000000000003,38.597626,-80.454903,2009,2.7
498,49,WestVirginia,WV,LASST540000000000003,38.597626,-80.454903,2008,0.8
499,49,WestVirginia,WV,LASST540000000000003,38.597626,-80.454903,2007,0.0

In [20]:
locations = unemployement_2007_2016_df[["lat", "lng"]].astype(float)
# unemployment_rate_2007_2016 = unemployement_2007_2016_df["yearlyChange"].astype(float)
unemployment_rate_2007_2016 = unemployement_2007_2016_df["yearlyChange"].abs().astype(float)

gmaps.configure(api_key="AIzaSyBODrQZh4WJ7334DbSa3H4fyVliE-xgi14")
heatmap_2006_2017 = gmaps.figure(map_type='SATELLITE')

# Create a unemployment Heatmap layer
heat_map = gmaps.heatmap_layer(locations, weights=unemployment_rate_2007_2016)
heatmap_2006_2017.add_layer(heat_map)

heatmap_2006_2017

Figure(layout=FigureLayout(height='420px'))