In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json

#API Keys

apikey = "73464aad4bec434e8b20c082a924d567"

In [2]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"

key = '?registrationkey={}'.format(apikey)

series_dict = {
    'LNS14000000': 'Unemployment Rate'}

#start year and end year

dates = ('1996', '2005')

headers = {'Content-type': 'application/json'}

data = json.dumps({
    "seriesid": list(series_dict.keys()),
    "startyear": dates[0],
    "endyear": dates[1]})

# Post request for the data
responses = requests.post(
    '{}{}'.format(url, key),
    headers=headers,
    data=data).json()['Results']['series']

In [3]:
responses2 = responses[0]['data']
responses2
bls_df = pd.DataFrame(responses2)
bls_df

     year period periodName value footnotes
0    2005    M12   December   4.9      [{}]
1    2005    M11   November   5.0      [{}]
2    2005    M10    October   5.0      [{}]
3    2005    M09  September   5.0      [{}]
4    2005    M08     August   4.9      [{}]
..    ...    ...        ...   ...       ...
115  1996    M05        May   5.6      [{}]
116  1996    M04      April   5.6      [{}]
117  1996    M03      March   5.5      [{}]
118  1996    M02   February   5.5      [{}]
119  1996    M01    January   5.6      [{}]

[120 rows x 5 columns]

In [4]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"

key = '?registrationkey={}'.format(apikey)

series_dict = {
    'LNS14000000': 'Unemployment Rate'}

#start year and end year

dates2 = ('2006', '2016')

headers = {'Content-type': 'application/json'}

data = json.dumps({
    "seriesid": list(series_dict.keys()),
    "startyear": dates2[0],
    "endyear": dates2[1]})

# Post request for the data
responses_2006_2015 = requests.post(
    '{}{}'.format(url, key),
    headers=headers,
    data=data).json()['Results']['series']

responses_2006_2015

[{'seriesID': 'LNS14000000',
  'data': [{'year': '2015',
    'period': 'M12',
    'periodName': 'December',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M11',
    'periodName': 'November',
    'value': '5.1',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M10',
    'periodName': 'October',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M09',
    'periodName': 'September',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M08',
    'periodName': 'August',
    'value': '5.1',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M07',
    'periodName': 'July',
    'value': '5.2',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M06',
    'periodName': 'June',
    'value': '5.3',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M05',
    'periodName': 'May',
    'value': '5.6',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M04',
    'periodName': 'April',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M03',
    'periodName': 'March',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M02',
    'periodName': 'February',
    'value': '5.5',
    'footnotes': [{}]},
   {'year': '2015',
    'period': 'M01',
    'periodName': 'January',
    'value': '5.7',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M12',
    'periodName': 'December',
    'value': '5.6',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M11',
    'periodName': 'November',
    'value': '5.8',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M10',
    'periodName': 'October',
    'value': '5.7',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M09',
    'periodName': 'September',
    'value': '5.9',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M08',
    'periodName': 'August',
    'value': '6.1',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M07',
    'periodName': 'July',
    'value': '6.2',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M06',
    'periodName': 'June',
    'value': '6.1',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M05',
    'periodName': 'May',
    'value': '6.3',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M04',
    'periodName': 'April',
    'value': '6.2',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M03',
    'periodName': 'March',
    'value': '6.7',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M02',
    'periodName': 'February',
    'value': '6.7',
    'footnotes': [{}]},
   {'year': '2014',
    'period': 'M01',
    'periodName': 'January',
    'value': '6.6',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M12',
    'periodName': 'December',
    'value': '6.7',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M11',
    'periodName': 'November',
    'value': '6.9',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M10',
    'periodName': 'October',
    'value': '7.2',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M09',
    'periodName': 'September',
    'value': '7.2',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M08',
    'periodName': 'August',
    'value': '7.2',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M07',
    'periodName': 'July',
    'value': '7.3',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M06',
    'periodName': 'June',
    'value': '7.5',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M05',
    'periodName': 'May',
    'value': '7.5',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M04',
    'periodName': 'April',
    'value': '7.6',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M03',
    'periodName': 'March',
    'value': '7.5',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M02',
    'periodName': 'February',
    'value': '7.7',
    'footnotes': [{}]},
   {'year': '2013',
    'period': 'M01',
    'periodName': 'January',
    'value': '8.0',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M12',
    'periodName': 'December',
    'value': '7.9',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M11',
    'periodName': 'November',
    'value': '7.7',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M10',
    'periodName': 'October',
    'value': '7.8',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M09',
    'periodName': 'September',
    'value': '7.8',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M08',
    'periodName': 'August',
    'value': '8.1',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M07',
    'periodName': 'July',
    'value': '8.2',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M06',
    'periodName': 'June',
    'value': '8.2',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M05',
    'periodName': 'May',
    'value': '8.2',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M04',
    'periodName': 'April',
    'value': '8.2',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M03',
    'periodName': 'March',
    'value': '8.2',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M02',
    'periodName': 'February',
    'value': '8.3',
    'footnotes': [{}]},
   {'year': '2012',
    'period': 'M01',
    'periodName': 'January',
    'value': '8.3',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M12',
    'periodName': 'December',
    'value': '8.5',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M11',
    'periodName': 'November',
    'value': '8.6',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M10',
    'periodName': 'October',
    'value': '8.8',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M09',
    'periodName': 'September',
    'value': '9.0',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M08',
    'periodName': 'August',
    'value': '9.0',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M07',
    'periodName': 'July',
    'value': '9.0',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M06',
    'periodName': 'June',
    'value': '9.1',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M05',
    'periodName': 'May',
    'value': '9.0',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M04',
    'periodName': 'April',
    'value': '9.1',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M03',
    'periodName': 'March',
    'value': '9.0',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M02',
    'periodName': 'February',
    'value': '9.0',
    'footnotes': [{}]},
   {'year': '2011',
    'period': 'M01',
    'periodName': 'January',
    'value': '9.1',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M12',
    'periodName': 'December',
    'value': '9.3',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M11',
    'periodName': 'November',
    'value': '9.8',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M10',
    'periodName': 'October',
    'value': '9.4',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M09',
    'periodName': 'September',
    'value': '9.5',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M08',
    'periodName': 'August',
    'value': '9.5',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M07',
    'periodName': 'July',
    'value': '9.4',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M06',
    'periodName': 'June',
    'value': '9.4',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M05',
    'periodName': 'May',
    'value': '9.6',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M04',
    'periodName': 'April',
    'value': '9.9',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M03',
    'periodName': 'March',
    'value': '9.9',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M02',
    'periodName': 'February',
    'value': '9.8',
    'footnotes': [{}]},
   {'year': '2010',
    'period': 'M01',
    'periodName': 'January',
    'value': '9.8',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M12',
    'periodName': 'December',
    'value': '9.9',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M11',
    'periodName': 'November',
    'value': '9.9',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M10',
    'periodName': 'October',
    'value': '10.0',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M09',
    'periodName': 'September',
    'value': '9.8',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M08',
    'periodName': 'August',
    'value': '9.6',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M07',
    'periodName': 'July',
    'value': '9.5',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M06',
    'periodName': 'June',
    'value': '9.5',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M05',
    'periodName': 'May',
    'value': '9.4',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M04',
    'periodName': 'April',
    'value': '9.0',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M03',
    'periodName': 'March',
    'value': '8.7',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M02',
    'periodName': 'February',
    'value': '8.3',
    'footnotes': [{}]},
   {'year': '2009',
    'period': 'M01',
    'periodName': 'January',
    'value': '7.8',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M12',
    'periodName': 'December',
    'value': '7.3',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M11',
    'periodName': 'November',
    'value': '6.8',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M10',
    'periodName': 'October',
    'value': '6.5',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M09',
    'periodName': 'September',
    'value': '6.1',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M08',
    'periodName': 'August',
    'value': '6.1',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M07',
    'periodName': 'July',
    'value': '5.8',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M06',
    'periodName': 'June',
    'value': '5.6',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M05',
    'periodName': 'May',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M04',
    'periodName': 'April',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M03',
    'periodName': 'March',
    'value': '5.1',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M02',
    'periodName': 'February',
    'value': '4.9',
    'footnotes': [{}]},
   {'year': '2008',
    'period': 'M01',
    'periodName': 'January',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M12',
    'periodName': 'December',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M11',
    'periodName': 'November',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M10',
    'periodName': 'October',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M09',
    'periodName': 'September',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M08',
    'periodName': 'August',
    'value': '4.6',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M07',
    'periodName': 'July',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M06',
    'periodName': 'June',
    'value': '4.6',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M05',
    'periodName': 'May',
    'value': '4.4',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M04',
    'periodName': 'April',
    'value': '4.5',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M03',
    'periodName': 'March',
    'value': '4.4',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M02',
    'periodName': 'February',
    'value': '4.5',
    'footnotes': [{}]},
   {'year': '2007',
    'period': 'M01',
    'periodName': 'January',
    'value': '4.6',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M12',
    'periodName': 'December',
    'value': '4.4',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M11',
    'periodName': 'November',
    'value': '4.5',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M10',
    'periodName': 'October',
    'value': '4.4',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M09',
    'periodName': 'September',
    'value': '4.5',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M08',
    'periodName': 'August',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M07',
    'periodName': 'July',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M06',
    'periodName': 'June',
    'value': '4.6',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M05',
    'periodName': 'May',
    'value': '4.6',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M04',
    'periodName': 'April',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M03',
    'periodName': 'March',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M02',
    'periodName': 'February',
    'value': '4.8',
    'footnotes': [{}]},
   {'year': '2006',
    'period': 'M01',
    'periodName': 'January',
    'value': '4.7',
    'footnotes': [{}]}]}]

In [5]:
responses_2006_20152 = responses_2006_2015[0]['data']

bls_df_2 = pd.DataFrame(responses_2006_20152)
bls_df_2

     year period periodName value footnotes
0    2015    M12   December   5.0      [{}]
1    2015    M11   November   5.1      [{}]
2    2015    M10    October   5.0      [{}]
3    2015    M09  September   5.0      [{}]
4    2015    M08     August   5.1      [{}]
..    ...    ...        ...   ...       ...
115  2006    M05        May   4.6      [{}]
116  2006    M04      April   4.7      [{}]
117  2006    M03      March   4.7      [{}]
118  2006    M02   February   4.8      [{}]
119  2006    M01    January   4.7      [{}]

[120 rows x 5 columns]

In [6]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"

key = '?registrationkey={}'.format(apikey)

series_dict = {
    'LNS14000000': 'Unemployment Rate'}

#start year and end year

dates3 = ('2016', '2016')

headers = {'Content-type': 'application/json'}

data = json.dumps({
    "seriesid": list(series_dict.keys()),
    "startyear": dates3[0],
    "endyear": dates3[1]})

# Post request for the data
responses_2016 = requests.post(
    '{}{}'.format(url, key),
    headers=headers,
    data=data).json()['Results']['series']

responses_2016

[{'seriesID': 'LNS14000000',
  'data': [{'year': '2016',
    'period': 'M12',
    'periodName': 'December',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M11',
    'periodName': 'November',
    'value': '4.7',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M10',
    'periodName': 'October',
    'value': '4.9',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M09',
    'periodName': 'September',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M08',
    'periodName': 'August',
    'value': '4.9',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M07',
    'periodName': 'July',
    'value': '4.8',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M06',
    'periodName': 'June',
    'value': '4.9',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M05',
    'periodName': 'May',
    'value': '4.8',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M04',
    'periodName': 'April',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M03',
    'periodName': 'March',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M02',
    'periodName': 'February',
    'value': '4.9',
    'footnotes': [{}]},
   {'year': '2016',
    'period': 'M01',
    'periodName': 'January',
    'value': '4.9',
    'footnotes': [{}]}]}]

In [7]:
responses_20162 = responses_2016[0]['data']

bls_df_3 = pd.DataFrame(responses_20162)
bls_df_3

    year period periodName value footnotes
0   2016    M12   December   4.7      [{}]
1   2016    M11   November   4.7      [{}]
2   2016    M10    October   4.9      [{}]
3   2016    M09  September   5.0      [{}]
4   2016    M08     August   4.9      [{}]
5   2016    M07       July   4.8      [{}]
6   2016    M06       June   4.9      [{}]
7   2016    M05        May   4.8      [{}]
8   2016    M04      April   5.0      [{}]
9   2016    M03      March   5.0      [{}]
10  2016    M02   February   4.9      [{}]
11  2016    M01    January   4.9      [{}]

In [8]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"

key = '?registrationkey={}'.format(apikey)

series_dict = {
    'LNS14000000': 'Unemployment Rate'}

#start year and end year

dates4 = ('1986', '1995')

headers = {'Content-type': 'application/json'}

data = json.dumps({
    "seriesid": list(series_dict.keys()),
    "startyear": dates4[0],
    "endyear": dates4[1]})

# Post request for the data
responses_86_95 = requests.post(
    '{}{}'.format(url, key),
    headers=headers,
    data=data).json()['Results']['series']

responses_86_95

[{'seriesID': 'LNS14000000',
  'data': [{'year': '1995',
    'period': 'M12',
    'periodName': 'December',
    'value': '5.6',
    'footnotes': [{}]},
   {'year': '1995',
    'period': 'M11',
    'periodName': 'November',
    'value': '5.6',
    'footnotes': [{}]},
   {'year': '1995',
    'period': 'M10',
    'periodName': 'October',
    'value': '5.5',
    'footnotes': [{}]},
   {'year': '1995',
    'period': 'M09',
    'periodName': 'September',
    'value': '5.6',
    'footnotes': [{}]},
   {'year': '1995',
    'period': 'M08',
    'periodName': 'August',
    'value': '5.7',
    'footnotes': [{}]},
   {'year': '1995',
    'period': 'M07',
    'periodName': 'July',
    'value': '5.7',
    'footnotes': [{}]},
   {'year': '1995',
    'period': 'M06',
    'periodName': 'June',
    'value': '5.6',
    'footnotes': [{}]},
   {'year': '1995',
    'period': 'M05',
    'periodName': 'May',
    'value': '5.6',
    'footnotes': [{}]},
   {'year': '1995',
    'period': 'M04',
    'periodName': 'April',
    'value': '5.8',
    'footnotes': [{}]},
   {'year': '1995',
    'period': 'M03',
    'periodName': 'March',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '1995',
    'period': 'M02',
    'periodName': 'February',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '1995',
    'period': 'M01',
    'periodName': 'January',
    'value': '5.6',
    'footnotes': [{}]},
   {'year': '1994',
    'period': 'M12',
    'periodName': 'December',
    'value': '5.5',
    'footnotes': [{}]},
   {'year': '1994',
    'period': 'M11',
    'periodName': 'November',
    'value': '5.6',
    'footnotes': [{}]},
   {'year': '1994',
    'period': 'M10',
    'periodName': 'October',
    'value': '5.8',
    'footnotes': [{}]},
   {'year': '1994',
    'period': 'M09',
    'periodName': 'September',
    'value': '5.9',
    'footnotes': [{}]},
   {'year': '1994',
    'period': 'M08',
    'periodName': 'August',
    'value': '6.0',
    'footnotes': [{}]},
   {'year': '1994',
    'period': 'M07',
    'periodName': 'July',
    'value': '6.1',
    'footnotes': [{}]},
   {'year': '1994',
    'period': 'M06',
    'periodName': 'June',
    'value': '6.1',
    'footnotes': [{}]},
   {'year': '1994',
    'period': 'M05',
    'periodName': 'May',
    'value': '6.1',
    'footnotes': [{}]},
   {'year': '1994',
    'period': 'M04',
    'periodName': 'April',
    'value': '6.4',
    'footnotes': [{}]},
   {'year': '1994',
    'period': 'M03',
    'periodName': 'March',
    'value': '6.5',
    'footnotes': [{}]},
   {'year': '1994',
    'period': 'M02',
    'periodName': 'February',
    'value': '6.6',
    'footnotes': [{}]},
   {'year': '1994',
    'period': 'M01',
    'periodName': 'January',
    'value': '6.6',
    'footnotes': [{}]},
   {'year': '1993',
    'period': 'M12',
    'periodName': 'December',
    'value': '6.5',
    'footnotes': [{}]},
   {'year': '1993',
    'period': 'M11',
    'periodName': 'November',
    'value': '6.6',
    'footnotes': [{}]},
   {'year': '1993',
    'period': 'M10',
    'periodName': 'October',
    'value': '6.8',
    'footnotes': [{}]},
   {'year': '1993',
    'period': 'M09',
    'periodName': 'September',
    'value': '6.7',
    'footnotes': [{}]},
   {'year': '1993',
    'period': 'M08',
    'periodName': 'August',
    'value': '6.8',
    'footnotes': [{}]},
   {'year': '1993',
    'period': 'M07',
    'periodName': 'July',
    'value': '6.9',
    'footnotes': [{}]},
   {'year': '1993',
    'period': 'M06',
    'periodName': 'June',
    'value': '7.0',
    'footnotes': [{}]},
   {'year': '1993',
    'period': 'M05',
    'periodName': 'May',
    'value': '7.1',
    'footnotes': [{}]},
   {'year': '1993',
    'period': 'M04',
    'periodName': 'April',
    'value': '7.1',
    'footnotes': [{}]},
   {'year': '1993',
    'period': 'M03',
    'periodName': 'March',
    'value': '7.0',
    'footnotes': [{}]},
   {'year': '1993',
    'period': 'M02',
    'periodName': 'February',
    'value': '7.1',
    'footnotes': [{}]},
   {'year': '1993',
    'period': 'M01',
    'periodName': 'January',
    'value': '7.3',
    'footnotes': [{}]},
   {'year': '1992',
    'period': 'M12',
    'periodName': 'December',
    'value': '7.4',
    'footnotes': [{}]},
   {'year': '1992',
    'period': 'M11',
    'periodName': 'November',
    'value': '7.4',
    'footnotes': [{}]},
   {'year': '1992',
    'period': 'M10',
    'periodName': 'October',
    'value': '7.3',
    'footnotes': [{}]},
   {'year': '1992',
    'period': 'M09',
    'periodName': 'September',
    'value': '7.6',
    'footnotes': [{}]},
   {'year': '1992',
    'period': 'M08',
    'periodName': 'August',
    'value': '7.6',
    'footnotes': [{}]},
   {'year': '1992',
    'period': 'M07',
    'periodName': 'July',
    'value': '7.7',
    'footnotes': [{}]},
   {'year': '1992',
    'period': 'M06',
    'periodName': 'June',
    'value': '7.8',
    'footnotes': [{}]},
   {'year': '1992',
    'period': 'M05',
    'periodName': 'May',
    'value': '7.6',
    'footnotes': [{}]},
   {'year': '1992',
    'period': 'M04',
    'periodName': 'April',
    'value': '7.4',
    'footnotes': [{}]},
   {'year': '1992',
    'period': 'M03',
    'periodName': 'March',
    'value': '7.4',
    'footnotes': [{}]},
   {'year': '1992',
    'period': 'M02',
    'periodName': 'February',
    'value': '7.4',
    'footnotes': [{}]},
   {'year': '1992',
    'period': 'M01',
    'periodName': 'January',
    'value': '7.3',
    'footnotes': [{}]},
   {'year': '1991',
    'period': 'M12',
    'periodName': 'December',
    'value': '7.3',
    'footnotes': [{}]},
   {'year': '1991',
    'period': 'M11',
    'periodName': 'November',
    'value': '7.0',
    'footnotes': [{}]},
   {'year': '1991',
    'period': 'M10',
    'periodName': 'October',
    'value': '7.0',
    'footnotes': [{}]},
   {'year': '1991',
    'period': 'M09',
    'periodName': 'September',
    'value': '6.9',
    'footnotes': [{}]},
   {'year': '1991',
    'period': 'M08',
    'periodName': 'August',
    'value': '6.9',
    'footnotes': [{}]},
   {'year': '1991',
    'period': 'M07',
    'periodName': 'July',
    'value': '6.8',
    'footnotes': [{}]},
   {'year': '1991',
    'period': 'M06',
    'periodName': 'June',
    'value': '6.9',
    'footnotes': [{}]},
   {'year': '1991',
    'period': 'M05',
    'periodName': 'May',
    'value': '6.9',
    'footnotes': [{}]},
   {'year': '1991',
    'period': 'M04',
    'periodName': 'April',
    'value': '6.7',
    'footnotes': [{}]},
   {'year': '1991',
    'period': 'M03',
    'periodName': 'March',
    'value': '6.8',
    'footnotes': [{}]},
   {'year': '1991',
    'period': 'M02',
    'periodName': 'February',
    'value': '6.6',
    'footnotes': [{}]},
   {'year': '1991',
    'period': 'M01',
    'periodName': 'January',
    'value': '6.4',
    'footnotes': [{}]},
   {'year': '1990',
    'period': 'M12',
    'periodName': 'December',
    'value': '6.3',
    'footnotes': [{}]},
   {'year': '1990',
    'period': 'M11',
    'periodName': 'November',
    'value': '6.2',
    'footnotes': [{}]},
   {'year': '1990',
    'period': 'M10',
    'periodName': 'October',
    'value': '5.9',
    'footnotes': [{}]},
   {'year': '1990',
    'period': 'M09',
    'periodName': 'September',
    'value': '5.9',
    'footnotes': [{}]},
   {'year': '1990',
    'period': 'M08',
    'periodName': 'August',
    'value': '5.7',
    'footnotes': [{}]},
   {'year': '1990',
    'period': 'M07',
    'periodName': 'July',
    'value': '5.5',
    'footnotes': [{}]},
   {'year': '1990',
    'period': 'M06',
    'periodName': 'June',
    'value': '5.2',
    'footnotes': [{}]},
   {'year': '1990',
    'period': 'M05',
    'periodName': 'May',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '1990',
    'period': 'M04',
    'periodName': 'April',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '1990',
    'period': 'M03',
    'periodName': 'March',
    'value': '5.2',
    'footnotes': [{}]},
   {'year': '1990',
    'period': 'M02',
    'periodName': 'February',
    'value': '5.3',
    'footnotes': [{}]},
   {'year': '1990',
    'period': 'M01',
    'periodName': 'January',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '1989',
    'period': 'M12',
    'periodName': 'December',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '1989',
    'period': 'M11',
    'periodName': 'November',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '1989',
    'period': 'M10',
    'periodName': 'October',
    'value': '5.3',
    'footnotes': [{}]},
   {'year': '1989',
    'period': 'M09',
    'periodName': 'September',
    'value': '5.3',
    'footnotes': [{}]},
   {'year': '1989',
    'period': 'M08',
    'periodName': 'August',
    'value': '5.2',
    'footnotes': [{}]},
   {'year': '1989',
    'period': 'M07',
    'periodName': 'July',
    'value': '5.2',
    'footnotes': [{}]},
   {'year': '1989',
    'period': 'M06',
    'periodName': 'June',
    'value': '5.3',
    'footnotes': [{}]},
   {'year': '1989',
    'period': 'M05',
    'periodName': 'May',
    'value': '5.2',
    'footnotes': [{}]},
   {'year': '1989',
    'period': 'M04',
    'periodName': 'April',
    'value': '5.2',
    'footnotes': [{}]},
   {'year': '1989',
    'period': 'M03',
    'periodName': 'March',
    'value': '5.0',
    'footnotes': [{}]},
   {'year': '1989',
    'period': 'M02',
    'periodName': 'February',
    'value': '5.2',
    'footnotes': [{}]},
   {'year': '1989',
    'period': 'M01',
    'periodName': 'January',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '1988',
    'period': 'M12',
    'periodName': 'December',
    'value': '5.3',
    'footnotes': [{}]},
   {'year': '1988',
    'period': 'M11',
    'periodName': 'November',
    'value': '5.3',
    'footnotes': [{}]},
   {'year': '1988',
    'period': 'M10',
    'periodName': 'October',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '1988',
    'period': 'M09',
    'periodName': 'September',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '1988',
    'period': 'M08',
    'periodName': 'August',
    'value': '5.6',
    'footnotes': [{}]},
   {'year': '1988',
    'period': 'M07',
    'periodName': 'July',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '1988',
    'period': 'M06',
    'periodName': 'June',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '1988',
    'period': 'M05',
    'periodName': 'May',
    'value': '5.6',
    'footnotes': [{}]},
   {'year': '1988',
    'period': 'M04',
    'periodName': 'April',
    'value': '5.4',
    'footnotes': [{}]},
   {'year': '1988',
    'period': 'M03',
    'periodName': 'March',
    'value': '5.7',
    'footnotes': [{}]},
   {'year': '1988',
    'period': 'M02',
    'periodName': 'February',
    'value': '5.7',
    'footnotes': [{}]},
   {'year': '1988',
    'period': 'M01',
    'periodName': 'January',
    'value': '5.7',
    'footnotes': [{}]},
   {'year': '1987',
    'period': 'M12',
    'periodName': 'December',
    'value': '5.7',
    'footnotes': [{}]},
   {'year': '1987',
    'period': 'M11',
    'periodName': 'November',
    'value': '5.8',
    'footnotes': [{}]},
   {'year': '1987',
    'period': 'M10',
    'periodName': 'October',
    'value': '6.0',
    'footnotes': [{}]},
   {'year': '1987',
    'period': 'M09',
    'periodName': 'September',
    'value': '5.9',
    'footnotes': [{}]},
   {'year': '1987',
    'period': 'M08',
    'periodName': 'August',
    'value': '6.0',
    'footnotes': [{}]},
   {'year': '1987',
    'period': 'M07',
    'periodName': 'July',
    'value': '6.1',
    'footnotes': [{}]},
   {'year': '1987',
    'period': 'M06',
    'periodName': 'June',
    'value': '6.2',
    'footnotes': [{}]},
   {'year': '1987',
    'period': 'M05',
    'periodName': 'May',
    'value': '6.3',
    'footnotes': [{}]},
   {'year': '1987',
    'period': 'M04',
    'periodName': 'April',
    'value': '6.3',
    'footnotes': [{}]},
   {'year': '1987',
    'period': 'M03',
    'periodName': 'March',
    'value': '6.6',
    'footnotes': [{}]},
   {'year': '1987',
    'period': 'M02',
    'periodName': 'February',
    'value': '6.6',
    'footnotes': [{}]},
   {'year': '1987',
    'period': 'M01',
    'periodName': 'January',
    'value': '6.6',
    'footnotes': [{}]},
   {'year': '1986',
    'period': 'M12',
    'periodName': 'December',
    'value': '6.6',
    'footnotes': [{}]},
   {'year': '1986',
    'period': 'M11',
    'periodName': 'November',
    'value': '6.9',
    'footnotes': [{}]},
   {'year': '1986',
    'period': 'M10',
    'periodName': 'October',
    'value': '7.0',
    'footnotes': [{}]},
   {'year': '1986',
    'period': 'M09',
    'periodName': 'September',
    'value': '7.0',
    'footnotes': [{}]},
   {'year': '1986',
    'period': 'M08',
    'periodName': 'August',
    'value': '6.9',
    'footnotes': [{}]},
   {'year': '1986',
    'period': 'M07',
    'periodName': 'July',
    'value': '7.0',
    'footnotes': [{}]},
   {'year': '1986',
    'period': 'M06',
    'periodName': 'June',
    'value': '7.2',
    'footnotes': [{}]},
   {'year': '1986',
    'period': 'M05',
    'periodName': 'May',
    'value': '7.2',
    'footnotes': [{}]},
   {'year': '1986',
    'period': 'M04',
    'periodName': 'April',
    'value': '7.1',
    'footnotes': [{}]},
   {'year': '1986',
    'period': 'M03',
    'periodName': 'March',
    'value': '7.2',
    'footnotes': [{}]},
   {'year': '1986',
    'period': 'M02',
    'periodName': 'February',
    'value': '7.2',
    'footnotes': [{}]},
   {'year': '1986',
    'period': 'M01',
    'periodName': 'January',
    'value': '6.7',
    'footnotes': [{}]}]}]

In [9]:
responses_86_952 = responses_86_95[0]['data']

bls_df_4 = pd.DataFrame(responses_86_952)
bls_df_4

     year period periodName value footnotes
0    1995    M12   December   5.6      [{}]
1    1995    M11   November   5.6      [{}]
2    1995    M10    October   5.5      [{}]
3    1995    M09  September   5.6      [{}]
4    1995    M08     August   5.7      [{}]
..    ...    ...        ...   ...       ...
115  1986    M05        May   7.2      [{}]
116  1986    M04      April   7.1      [{}]
117  1986    M03      March   7.2      [{}]
118  1986    M02   February   7.2      [{}]
119  1986    M01    January   6.7      [{}]

[120 rows x 5 columns]

In [10]:
dataframes = [bls_df_3,bls_df_2,bls_df,bls_df_4]
bls_df_final = pd.concat(dataframes)
bls_df_final

     year period periodName value footnotes
0    2016    M12   December   4.7      [{}]
1    2016    M11   November   4.7      [{}]
2    2016    M10    October   4.9      [{}]
3    2016    M09  September   5.0      [{}]
4    2016    M08     August   4.9      [{}]
..    ...    ...        ...   ...       ...
115  1986    M05        May   7.2      [{}]
116  1986    M04      April   7.1      [{}]
117  1986    M03      March   7.2      [{}]
118  1986    M02   February   7.2      [{}]
119  1986    M01    January   6.7      [{}]

[372 rows x 5 columns]

In [11]:
bls_df_by_year = bls_df_final.loc[(bls_df_final['period'] == 'M12')|
                                  (bls_df_final['period'] == 'M01')
                                 ].reset_index(drop=True)

bls_df_by_year

    year period periodName value footnotes
0   2016    M12   December   4.7      [{}]
1   2016    M01    January   4.9      [{}]
2   2015    M12   December   5.0      [{}]
3   2015    M01    January   5.7      [{}]
4   2014    M12   December   5.6      [{}]
..   ...    ...        ...   ...       ...
57  1988    M01    January   5.7      [{}]
58  1987    M12   December   5.7      [{}]
59  1987    M01    January   6.6      [{}]
60  1986    M12   December   6.6      [{}]
61  1986    M01    January   6.7      [{}]

[62 rows x 5 columns]

In [12]:
bls_df_by_year['Year Change'] = ""

bls_df_by_year['value'] = bls_df_by_year['value'].astype(float)

# use iterrows to iterate through pandas dataframe
start_value = 0

for index, row in bls_df_by_year.iterrows():
    
    change =  start_value - row['value'] 
    start_value = row['value']
    bls_df_by_year.loc[index, 'Year Change'] = change
    
bls_df_by_year

    year period periodName  value footnotes Year Change
0   2016    M12   December    4.7      [{}]        -4.7
1   2016    M01    January    4.9      [{}]        -0.2
2   2015    M12   December    5.0      [{}]        -0.1
3   2015    M01    January    5.7      [{}]        -0.7
4   2014    M12   December    5.6      [{}]         0.1
..   ...    ...        ...    ...       ...         ...
57  1988    M01    January    5.7      [{}]        -0.4
58  1987    M12   December    5.7      [{}]           0
59  1987    M01    January    6.6      [{}]        -0.9
60  1986    M12   December    6.6      [{}]           0
61  1986    M01    January    6.7      [{}]        -0.1

[62 rows x 6 columns]

In [13]:
bls_df_change = bls_df_by_year.loc[(bls_df_by_year['period'] == 'M01')].reset_index(drop=True)
bls_df_change = bls_df_change[['year','Year Change']] 
bls_df_change

    year Year Change
0   2016        -0.2
1   2015        -0.7
2   2014          -1
3   2013        -1.3
4   2012        -0.4
5   2011        -0.6
6   2010        -0.5
7   2009         2.1
8   2008         2.3
9   2007         0.4
10  2006        -0.3
11  2005        -0.4
12  2004        -0.3
13  2003        -0.1
14  2002         0.3
15  2001         1.5
16  2000        -0.1
17  1999        -0.3
18  1998        -0.2
19  1997        -0.6
20  1996        -0.2
21  1995           0
22  1994        -1.1
23  1993        -0.8
24  1992         0.1
25  1991         0.9
26  1990         0.9
27  1989           0
28  1988        -0.4
29  1987        -0.9
30  1986        -0.1

In [14]:
bls_df_change.to_csv("outputs/bls_data.csv",index=False)